
.Home_Home {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(244,247,248,1.00);
}
.Home_Home .Footer {
	position: absolute;
	left: 0px;
	top: 8095px;
	width: 1440px;
	height: 476px;
}
.Home_Home .Footer .Background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 476px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Footer .Rectangle85 {
	position: absolute;
	left: 104px;
	top: 58px;
	width: 360px;
	height: 360px;
	background: rgba(226,226,234,1.00);
}
.Home_Home .Footer ._2020TanahAirStudioAllrightsreserved {
	position: absolute;
	left: 523px;
	top: 399px;
	width: 392px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .PrivacyPolicy {
	position: absolute;
	left: 520px;
	top: 178px;
	width: 132px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .TermsandCondition {
	position: absolute;
	left: 520px;
	top: 221px;
	width: 167px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .SocialMedia {
	position: absolute;
	left: 1126px;
	top: 88px;
	width: 208px;
	height: 40px;
}
.Home_Home .Footer .SocialMedia .Socmed {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.Home_Home .Footer .SocialMedia .Socmed .Container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Footer .SocialMedia .Socmed .Yt {
	position: absolute;
	left: 11px;
	top: 10px;
	width: 18px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .SocialMedia .Socmed_1 {
	position: absolute;
	left: 56px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.Home_Home .Footer .SocialMedia .Socmed_1 .Container_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Footer .SocialMedia .Socmed_1 .Fb {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 20px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .SocialMedia .Socmed_2 {
	position: absolute;
	left: 112px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.Home_Home .Footer .SocialMedia .Socmed_2 .Container_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Footer .SocialMedia .Socmed_2 .Tw {
	position: absolute;
	left: 9px;
	top: 11px;
	width: 25px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .SocialMedia .Socmed_3 {
	position: absolute;
	left: 168px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.Home_Home .Footer .SocialMedia .Socmed_3 .Container_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Footer .SocialMedia .Socmed_3 .Ig {
	position: absolute;
	left: 13px;
	top: 11px;
	width: 17px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Footer .Dealerz {
	position: absolute;
	left: 520px;
	top: 69px;
	width: 249px;
	height: 77px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 64px;
	font-weight: 700;
	line-height: 76.80000305175781px;
}
.Home_Home .Form {
	position: absolute;
	left: 104px;
	top: 7527px;
	width: 1230px;
	height: 408px;
}
.Home_Home .Form .Container_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1230px;
	height: 408px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Form .Form_1 {
	position: absolute;
	left: 210px;
	top: 264px;
	width: 816px;
	height: 64px;
}
.Home_Home .Form .Form_1 .Container_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 816px;
	height: 64px;
	background: rgba(244,247,248,1.00);
	border-radius: 8px;
}
.Home_Home .Form .Form_1 .Insertyourmailhere {
	position: absolute;
	left: 32px;
	top: 22px;
	width: 153px;
	height: 20px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Form .Form_1 .Button {
	position: absolute;
	left: 759px;
	top: 8px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
}
.Home_Home .Form .Form_1 .Button .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 8px;
}
.Home_Home .Form .Form_1 .Button .Group18 {
	position: absolute;
	left: 12px;
	top: 12px;
	width: 50%;
	height: 50%;
}
.Home_Home .Form .Form_1 .Button .Group18 .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .Form .Form_1 .Button .Group18 .ArrowRightCircle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .Form .Form_1 .Button .Group18 .ArrowRightCircle .Group {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}
.Home_Home .Form .Form_1 .Button .Group18 .ArrowRightCircle .Group .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .Form .Form_1 .Button .Group18 .ArrowRightCircle .Group .Vector_1 {
	position: absolute;
	left: 6px;
	top: 5.29296875px;
	width: 47.0703125%;
	height: 47.0703125%;
}
.Home_Home .Form .LeverageagileframeworkstoprovidearobustsynopsisforhighleveloverviewsIterativeapproachestocorporatestrategyfoster {
	position: absolute;
	left: 314px;
	top: 184px;
	width: 608px;
	height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Form .JoinOurNewsLetters {
	position: absolute;
	left: 220px;
	top: 94px;
	width: 797px;
	height: 58px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .Blogs {
	position: absolute;
	left: 104px;
	top: 5869px;
	width: 1232px;
	height: 1498px;
}
.Home_Home .Blogs .Post01 {
	position: absolute;
	left: 0px;
	top: 172px;
	width: 608px;
	height: 639px;
}
.Home_Home .Blogs .Post01 .Link {
	position: absolute;
	left: 0px;
	top: 620px;
	width: 103px;
	height: 19px;
}
.Home_Home .Blogs .Post01 .Link .ExploreMore {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post01 .LoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500swhenanunknownprintertookagalleyLoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500s {
	position: absolute;
	left: 0px;
	top: 528px;
	width: 608px;
	height: 60px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Blogs .Post01 .Info {
	position: absolute;
	left: 0px;
	top: 493px;
	width: 159px;
	height: 19px;
}
.Home_Home .Blogs .Post01 .Info .LivinaStyle {
	position: absolute;
	left: 69px;
	top: 0px;
	width: 90px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post01 .Info .Dot {
	position: absolute;
	left: 57px;
	top: 8px;
	width: 4px;
	height: 4px;
	background: rgba(81,81,81,1.00);
	border-radius: 50%;
}
.Home_Home .Blogs .Post01 .Info ._14Feb {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 49px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post01 .BestSummerOutfitStyle {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 608px;
	height: 37px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 31px;
	font-weight: 700;
	line-height: 37.20000076293945px;
}
.Home_Home .Blogs .Post01 .ImagePlaceholder {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
	height: 416px;
	background: rgba(226,226,234,1.00);
}
.Home_Home .Blogs .Post2 {
	position: absolute;
	left: 624px;
	top: 172px;
	width: 608px;
	height: 639px;
}
.Home_Home .Blogs .Post2 .Link_1 {
	position: absolute;
	left: 0px;
	top: 620px;
	width: 103px;
	height: 19px;
}
.Home_Home .Blogs .Post2 .Link_1 .ExploreMore_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post2 .LoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500swhenanunknownprintertookagalleyLoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500s_1 {
	position: absolute;
	left: 0px;
	top: 528px;
	width: 608px;
	height: 60px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Blogs .Post2 .Info_1 {
	position: absolute;
	left: 0px;
	top: 493px;
	width: 159px;
	height: 19px;
}
.Home_Home .Blogs .Post2 .Info_1 .LivinaStyle_1 {
	position: absolute;
	left: 69px;
	top: 0px;
	width: 90px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post2 .Info_1 .Dot_1 {
	position: absolute;
	left: 57px;
	top: 8px;
	width: 4px;
	height: 4px;
	background: rgba(81,81,81,1.00);
	border-radius: 50%;
}
.Home_Home .Blogs .Post2 .Info_1 ._14Feb_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 49px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post2 .BestSummerOutfitStyle_1 {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 608px;
	height: 37px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 31px;
	font-weight: 700;
	line-height: 37.20000076293945px;
}
.Home_Home .Blogs .Post2 .ImagePlaceholder_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
	height: 416px;
	background: rgba(226,226,234,1.00);
}
.Home_Home .Blogs .Post3 {
	position: absolute;
	left: 0px;
	top: 859px;
	width: 608px;
	height: 639px;
}
.Home_Home .Blogs .Post3 .Link_2 {
	position: absolute;
	left: 0px;
	top: 620px;
	width: 103px;
	height: 19px;
}
.Home_Home .Blogs .Post3 .Link_2 .ExploreMore_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post3 .LoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500swhenanunknownprintertookagalleyLoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500s_2 {
	position: absolute;
	left: 0px;
	top: 528px;
	width: 608px;
	height: 60px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Blogs .Post3 .Info_2 {
	position: absolute;
	left: 0px;
	top: 493px;
	width: 159px;
	height: 19px;
}
.Home_Home .Blogs .Post3 .Info_2 .LivinaStyle_2 {
	position: absolute;
	left: 69px;
	top: 0px;
	width: 90px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post3 .Info_2 .Dot_2 {
	position: absolute;
	left: 57px;
	top: 8px;
	width: 4px;
	height: 4px;
	background: rgba(81,81,81,1.00);
	border-radius: 50%;
}
.Home_Home .Blogs .Post3 .Info_2 ._14Feb_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 49px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post3 .BestSummerOutfitStyle_2 {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 608px;
	height: 37px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 31px;
	font-weight: 700;
	line-height: 37.20000076293945px;
}
.Home_Home .Blogs .Post3 .ImagePlaceholder_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
	height: 416px;
	background: rgba(226,226,234,1.00);
}
.Home_Home .Blogs .Post4 {
	position: absolute;
	left: 624px;
	top: 859px;
	width: 608px;
	height: 639px;
}
.Home_Home .Blogs .Post4 .Link_3 {
	position: absolute;
	left: 0px;
	top: 620px;
	width: 103px;
	height: 19px;
}
.Home_Home .Blogs .Post4 .Link_3 .ExploreMore_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 103px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post4 .LoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500swhenanunknownprintertookagalleyLoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500s_3 {
	position: absolute;
	left: 0px;
	top: 528px;
	width: 608px;
	height: 60px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Blogs .Post4 .Info_3 {
	position: absolute;
	left: 0px;
	top: 493px;
	width: 159px;
	height: 19px;
}
.Home_Home .Blogs .Post4 .Info_3 .LivinaStyle_3 {
	position: absolute;
	left: 69px;
	top: 0px;
	width: 90px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post4 .Info_3 .Dot_3 {
	position: absolute;
	left: 57px;
	top: 8px;
	width: 4px;
	height: 4px;
	background: rgba(81,81,81,1.00);
	border-radius: 50%;
}
.Home_Home .Blogs .Post4 .Info_3 ._14Feb_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 49px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Blogs .Post4 .BestSummerOutfitStyle_3 {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 608px;
	height: 37px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 31px;
	font-weight: 700;
	line-height: 37.20000076293945px;
}
.Home_Home .Blogs .Post4 .ImagePlaceholder_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
	height: 416px;
	background: rgba(226,226,234,1.00);
}
.Home_Home .Blogs .GetBetterInsightsfromOurArticles {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 501px;
	height: 116px;
	color: rgba(26,36,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .Blogs .Seemore {
	position: absolute;
	left: 1121px;
	top: 80px;
	width: 111px;
	height: 29px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .Testimonial {
	position: absolute;
	left: 104px;
	top: 5198px;
	width: 1232px;
	height: 436px;
}
.Home_Home .Testimonial .ArrowLeft {
	position: absolute;
	left: 0px;
	top: 190px;
	width: 56px;
	height: 56px;
}
.Home_Home .Testimonial .ArrowLeft .Container_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 56px;
	height: 56px;
	background: rgba(255,255,255,1.00);
	border-radius: 50%;
}
.Home_Home .Testimonial .ArrowLeft .ArrowChevronLeft {
	position: absolute;
	left: 16.7998046875px;
	top: 16.80078125px;
	width: 22.39990234375px;
	height: 22.400390625px;
}
.Home_Home .Testimonial .ArrowLeft .ArrowChevronLeft .Vector_2 {
	position: absolute;
	left: 6.14697265625px;
	top: 3.07421875px;
	width: 42.17111716621253%;
	height: 72.56081611300026%;
}
.Home_Home .Testimonial .ArrowRight {
	position: absolute;
	left: 1176px;
	top: 190px;
	width: 56px;
	height: 56px;
}
.Home_Home .Testimonial .ArrowRight .Container_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 56px;
	height: 56px;
	background: rgba(255,255,255,1.00);
	border-radius: 50%;
}
.Home_Home .Testimonial .ArrowRight .ArrowChevronRight {
	position: absolute;
	left: 16.7998046875px;
	top: 16.80078125px;
	width: 22.39990234375px;
	height: 22.400390625px;
}
.Home_Home .Testimonial .ArrowRight .ArrowChevronRight .Vector_3 {
	position: absolute;
	left: 6.806640625px;
	top: 3.07421875px;
	width: 42.17111716621253%;
	height: 72.56081611300026%;
}
.Home_Home .Testimonial .Card {
	position: absolute;
	left: 32px;
	top: 0px;
	width: 1168px;
	height: 436px;
}
.Home_Home .Testimonial .Card .Container_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1168px;
	height: 436px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Testimonial .Card .ImagePlaceholder_4 {
	position: absolute;
	left: 72px;
	top: 63px;
	width: 320px;
	height: 320px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.Home_Home .Testimonial .Card .GoodSeller {
	position: absolute;
	left: 472px;
	top: 88px;
	width: 285px;
	height: 58px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .Testimonial .Card .IamveryhappywiththeservicesprovideditisveryhelpfulstartingfromtheinsightthatthecompanygavefromthestartthatIdidnotunderstandwhatitwassoIgotknowledgeandmademywebsitelookbetter {
	position: absolute;
	left: 472px;
	top: 184px;
	width: 510px;
	height: 80px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Testimonial .Card .YourBelovedBuyer {
	position: absolute;
	left: 472px;
	top: 350px;
	width: 146px;
	height: 19px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Testimonial .Card .AnnaSaraspova {
	position: absolute;
	left: 472px;
	top: 305px;
	width: 188px;
	height: 29px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .Achievement {
	position: absolute;
	left: 104px;
	top: 4812px;
	width: 1232px;
	height: 226px;
}
.Home_Home .Achievement .OurAchievement {
	position: absolute;
	left: 377px;
	top: 0px;
	width: 479px;
	height: 58px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .Achievement .BrandClientLogo {
	position: absolute;
	left: 0px;
	top: 122px;
	width: 1232px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo6 {
	position: absolute;
	left: 1040px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo6 .Clip {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo6 .CombinedShape {
	position: absolute;
	left: 25px;
	top: 22px;
	width: 141.90380859375px;
	height: 60.291015625px;
}
.Home_Home .Achievement .BrandClientLogo .logo5 {
	position: absolute;
	left: 832px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo5 .Clip_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo5 .CombinedShape_1 {
	position: absolute;
	left: 42px;
	top: 35px;
	width: 108.93359375px;
	height: 34.560546875px;
}
.Home_Home .Achievement .BrandClientLogo .logo4 {
	position: absolute;
	left: 624px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo4 .Clip_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo4 .CombinedShape_2 {
	position: absolute;
	left: 33px;
	top: 32px;
	width: 125.05029296875px;
	height: 39.22265625px;
}
.Home_Home .Achievement .BrandClientLogo .logo3 {
	position: absolute;
	left: 416px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo3 .Clip_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo3 .CombinedShape_3 {
	position: absolute;
	left: 53px;
	top: 22px;
	width: 88.94384765625px;
	height: 60.77734375px;
}
.Home_Home .Achievement .BrandClientLogo .logo2 {
	position: absolute;
	left: 208px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo2 .Clip_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo2 .CombinedShape_4 {
	position: absolute;
	left: 29px;
	top: 20px;
	width: 133.05078125px;
	height: 64.9921875px;
}
.Home_Home .Achievement .BrandClientLogo .logo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo1 .Clip_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 104px;
}
.Home_Home .Achievement .BrandClientLogo .logo1 .CombinedShape_5 {
	position: absolute;
	left: 25px;
	top: 22px;
	width: 141.90380859375px;
	height: 60.291015625px;
}
.Home_Home .GetinTouch {
	position: absolute;
	left: 104px;
	top: 3892px;
	width: 1161px;
	height: 720px;
}
.Home_Home .GetinTouch .ImagePlaceholder_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 607px;
	height: 720px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.Home_Home .GetinTouch .StoryaboutOurBrand {
	position: absolute;
	left: 655px;
	top: 84px;
	width: 479px;
	height: 116px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .GetinTouch .DevelopawebsitebyfindingaproductidentitythathasvalueandbrandingtobecomeacharacteristicofacompanyWewillalsofacilitatethebusinessmarketingoftheseproductswithourSEOexpertssothattheybecomeareadytousewebsiteandhelpsellaproductfromthecompanyDevelopawebsitebyfindingaproductidentitythathasvalueandbrandingtobecomeacharacteristicofacompanyWewillalsofacilitatethebusinessmarketingoftheseproductswithourSEOexpertssothattheybecomeareadytousewebsiteandhelpsellaproductfromthecompany {
	position: absolute;
	left: 657px;
	top: 232px;
	width: 504px;
	height: 200px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .GetinTouch .Readfullstory {
	position: absolute;
	left: 655px;
	top: 488px;
	width: 112px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale {
	position: absolute;
	left: -312px;
	top: 2772px;
	width: 2064px;
	height: 960px;
}
.Home_Home .FlashSale .Container_9 {
	position: absolute;
	left: 311px;
	top: 0px;
	width: 1442px;
	height: 960px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .FlashSale .Slider {
	position: absolute;
	left: 944px;
	top: 900px;
	width: 176px;
	height: 16px;
}
.Home_Home .FlashSale .Slider .Ellipse {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.Home_Home .FlashSale .Slider .Ellipse_1 {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.Home_Home .FlashSale .Slider .Ellipse_2 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(122,96,5,1.00);
	border-radius: 50%;
}
.Home_Home .FlashSale .Slider .Ellipse_3 {
	position: absolute;
	left: 120px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.Home_Home .FlashSale .Slider .Ellipse_4 {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.Home_Home .FlashSale .Item {
	position: absolute;
	left: 416px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.Home_Home .FlashSale .Item .Image {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item .MiscTag {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.Home_Home .FlashSale .Item .MiscTag .Background_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item .MiscTag .Label {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item .Price {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item .Price_1 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item .Line {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.Home_Home .FlashSale .Item .Product {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .FlashSale .Item .Seller {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_1 {
	position: absolute;
	left: 0px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.Home_Home .FlashSale .Item_1 .Image_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_1 .MiscTag_1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.Home_Home .FlashSale .Item_1 .MiscTag_1 .Background_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_1 .MiscTag_1 .Label_1 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_1 .Price_2 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_1 .Price_3 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_1 .Line_1 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.Home_Home .FlashSale .Item_1 .Product_1 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .FlashSale .Item_1 .Seller_1 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_2 {
	position: absolute;
	left: 832px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.Home_Home .FlashSale .Item_2 .Image_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_2 .MiscTag_2 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.Home_Home .FlashSale .Item_2 .MiscTag_2 .Background_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_2 .MiscTag_2 .Label_2 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_2 .Price_4 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_2 .Price_5 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_2 .Line_2 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.Home_Home .FlashSale .Item_2 .Product_2 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .FlashSale .Item_2 .Seller_2 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_3 {
	position: absolute;
	left: 1248px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.Home_Home .FlashSale .Item_3 .Image_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_3 .MiscTag_3 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.Home_Home .FlashSale .Item_3 .MiscTag_3 .Background_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_3 .MiscTag_3 .Label_3 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_3 .Price_6 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_3 .Price_7 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_3 .Line_3 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.Home_Home .FlashSale .Item_3 .Product_3 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .FlashSale .Item_3 .Seller_3 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_4 {
	position: absolute;
	left: 1664px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.Home_Home .FlashSale .Item_4 .Image_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_4 .MiscTag_4 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.Home_Home .FlashSale .Item_4 .MiscTag_4 .Background_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.Home_Home .FlashSale .Item_4 .MiscTag_4 .Label_4 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .Item_4 .Price_8 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_4 .Price_9 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .FlashSale .Item_4 .Line_4 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.Home_Home .FlashSale .Item_4 .Product_4 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .FlashSale .Item_4 .Seller_4 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.Home_Home .FlashSale .TopItems {
	position: absolute;
	left: 756px;
	top: 108px;
	width: 551px;
	height: 58px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .FlashSale .LoremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliquaUtenimadminimveniam {
	position: absolute;
	left: 666px;
	top: 198px;
	width: 732px;
	height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .CategoriesShop {
	position: absolute;
	left: 104px;
	top: 965px;
	width: 1232px;
	height: 1647px;
}
.Home_Home .CategoriesShop .Button_1 {
	position: absolute;
	left: 538px;
	top: 1591px;
	width: 156px;
	height: 56px;
	display: flex;
	padding-top: 18px;
	padding-right: 24px;
	padding-bottom: 18px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(248,99,56,1.00);
	border-radius: 8px;
}
.Home_Home .CategoriesShop .Button_1 .ClickHere {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 108px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_1 {
	position: absolute;
	left: 0px;
	top: 215px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_1 .ImagePlaceholder_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_1 .CategoryDress {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_1 .TropicalSuit {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 .Container_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 .Group18_1 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 .Group18_1 .Rectangle1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 .Group18_1 .ArrowRight_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_1 .Button_2 .Group18_1 .ArrowRight_1 .Vector_4 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .Card_2 {
	position: absolute;
	left: 416px;
	top: 215px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_2 .ImagePlaceholder_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_2 .CategoryDress_1 {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_2 .TropicalSuit_1 {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 .Container_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 .Group18_2 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 .Group18_2 .Rectangle1_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 .Group18_2 .ArrowRight_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_2 .Button_3 .Group18_2 .ArrowRight_2 .Vector_5 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .Card_3 {
	position: absolute;
	left: 832px;
	top: 215px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_3 .ImagePlaceholder_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_3 .CategoryDress_2 {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_3 .TropicalSuit_2 {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 .Container_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 .Group18_3 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 .Group18_3 .Rectangle1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 .Group18_3 .ArrowRight_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_3 .Button_4 .Group18_3 .ArrowRight_3 .Vector_6 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .Card_4 {
	position: absolute;
	left: 0px;
	top: 871px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_4 .ImagePlaceholder_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_4 .CategoryDress_3 {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_4 .TropicalSuit_3 {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 .Container_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 .Group18_4 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 .Group18_4 .Rectangle1_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 .Group18_4 .ArrowRight_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_4 .Button_5 .Group18_4 .ArrowRight_4 .Vector_7 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .Card_5 {
	position: absolute;
	left: 416px;
	top: 871px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_5 .ImagePlaceholder_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_5 .CategoryDress_4 {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_5 .TropicalSuit_4 {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 .Container_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 .Group18_5 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 .Group18_5 .Rectangle1_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 .Group18_5 .ArrowRight_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_5 .Button_6 .Group18_5 .ArrowRight_5 .Vector_8 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .Card_6 {
	position: absolute;
	left: 832px;
	top: 871px;
	width: 400px;
	height: 640px;
}
.Home_Home .CategoriesShop .Card_6 .ImagePlaceholder_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .CategoriesShop .Card_6 .CategoryDress_5 {
	position: absolute;
	left: 40px;
	top: 406px;
	width: 121px;
	height: 19px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .CategoriesShop .Card_6 .TropicalSuit_5 {
	position: absolute;
	left: 40px;
	top: 441px;
	width: 319px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 {
	position: absolute;
	left: 40px;
	top: 531px;
	width: 40px;
	height: 40px;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 .Container_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(248,99,56,1.00);
	border-radius: 28px;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 .Group18_6 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 .Group18_6 .Rectangle1_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 .Group18_6 .ArrowRight_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Home_Home .CategoriesShop .Card_6 .Button_7 .Group18_6 .ArrowRight_6 .Vector_9 {
	position: absolute;
	left: 4px;
	top: 3.29296875px;
	width: 72.55859375%;
	height: 72.55859375%;
}
.Home_Home .CategoriesShop .OurPremiumCollection {
	position: absolute;
	left: 336px;
	top: 0px;
	width: 561px;
	height: 58px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.Home_Home .CategoriesShop .Categories {
	position: absolute;
	left: 26px;
	top: 114px;
	width: 1180px;
	height: 29px;
}
.Home_Home .CategoriesShop .Categories .CoatsJacket {
	position: absolute;
	left: 210px;
	top: 0px;
	width: 179px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .AllProducts {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 142px;
	height: 29px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .Dressed {
	position: absolute;
	left: 469px;
	top: 0px;
	width: 97px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .Playsuit {
	position: absolute;
	left: 646px;
	top: 0px;
	width: 93px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .Short {
	position: absolute;
	left: 819px;
	top: 0px;
	width: 64px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .Skirt {
	position: absolute;
	left: 963px;
	top: 0px;
	width: 55px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .CategoriesShop .Categories .TShirt {
	position: absolute;
	left: 1098px;
	top: 0px;
	width: 82px;
	height: 29px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.Home_Home .Hero {
	position: absolute;
	left: 0px;
	top: 205px;
	width: 1440px;
	height: 640px;
}
.Home_Home .Hero .Container_16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Hero .MaskGroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 640px;
}
.Home_Home .Hero .MaskGroup .Container_17 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 640px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Hero .MaskGroup .Ellipse153 {
	position: absolute;
	left: 68px;
	top: 0px;
	width: 140.3330078125px;
	height: 140.3330078125px;
	background: rgba(54,178,248,1.00);
	border-radius: 50%;


}
.Home_Home .Hero .MaskGroup .Ellipse155 {
	position: absolute;
	left: 1188px;
	top: 73px;
	width: 79.68115234375px;
	height: 79.681640625px;
	background: rgba(54,178,248,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .MaskGroup .Ellipse154 {
	position: absolute;
	left: 621px;
	top: 454px;
	width: 80.43017578125px;
	height: 80.4296875px;
	background: rgba(54,178,248,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .MaskGroup .Ellipse156 {
	position: absolute;
	left: 579px;
	top: 84px;
	width: 39px;
	height: 39px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .MaskGroup .Ellipse158 {
	position: absolute;
	left: 1214px;
	top: 387px;
	width: 18px;
	height: 18px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .MaskGroup .Ellipse159 {
	position: absolute;
	left: 1063px;
	top: 598px;
	width: 10px;
	height: 10px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .MaskGroup .Ellipse157 {
	position: absolute;
	left: 119px;
	top: 464px;
	width: 9px;
	height: 9px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Hero .YourPremiumSoundUnplugged {
	position: absolute;
	left: 728px;
	top: 135px;
	width: 593px;
	height: 154px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 64px;
	font-weight: 700;
	line-height: 76.80000305175781px;
}
.Home_Home .Hero .Button_8 {
	position: absolute;
	left: 728px;
	top: 417px;
	width: 156px;
	height: 56px;
	display: flex;
	padding-top: 18px;
	padding-right: 24px;
	padding-bottom: 18px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(248,99,56,1.00);
	border-radius: 8px;
}
.Home_Home .Hero .Button_8 .ClickHere_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 108px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.Home_Home .Hero .Loremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliqua {
	position: absolute;
	left: 728px;
	top: 321px;
	width: 612px;
	height: 40px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.Home_Home .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 205px;
}
.Home_Home .Navbar .Container_18 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 93px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Navbar .CallCentre {
	position: absolute;
	left: 1008px;
	top: 37px;
	width: 118px;
	height: 24px;
}
.Home_Home .Navbar .CallCentre .Phone {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Home_Home .Navbar .CallCentre .Phone .Vector_10 {
	position: absolute;
	left: 1.7607421875px;
	top: 1.7080078125px;
	width: 85.24576822916666%;
	height: 85.55908203125%;
}
.Home_Home .Navbar .CallCentre .CallCenter {
	position: absolute;
	left: 32px;
	top: 2px;
	width: 86px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .CallCentre_1 {
	position: absolute;
	left: 1158px;
	top: 37px;
	width: 178px;
	height: 24px;
}
.Home_Home .Navbar .CallCentre_1 .TruckDelivery {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Home_Home .Navbar .CallCentre_1 .TruckDelivery .Vector_11 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 83.33333333333334%;
	height: 70.83740234375%;
}
.Home_Home .Navbar .CallCentre_1 .ShippingReturns {
	position: absolute;
	left: 32px;
	top: 2px;
	width: 146px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .Container_19 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 93px;
	width: 1440px;
	height: 112px;
	background: rgba(255,255,255,1.00);
}
.Home_Home .Navbar .Dealerz_1 {
	position: absolute;
	left: 94px;
	top: 25px;
	width: 152px;
	height: 47px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 39px;
	font-weight: 700;
	line-height: 46.80000305175781px;
}
.Home_Home .Navbar .Searchbar {
	position: absolute;
	left: 451px;
	top: 121px;
	width: 573px;
	height: 56px;
}
.Home_Home .Navbar .Searchbar .Container_20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 573px;
	height: 56px;
	background: rgba(255,255,255,1.00);
	border-radius: 4px;
}
.Home_Home .Navbar .Searchbar .Search {
	position: absolute;
	left: 529px;
	top: 16px;
	width: 24px;
	height: 24px;
}
.Home_Home .Navbar .Searchbar .Search .Vector_12 {
	position: absolute;
	left: 1.9541015625px;
	top: 1.9541015625px;
	width: 82.30387369791666%;
	height: 82.30387369791666%;
}
.Home_Home .Navbar .Searchbar .Searchwhatyouneed {
	position: absolute;
	left: 30px;
	top: 19px;
	width: 166px;
	height: 20px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.Home_Home .Navbar .Menu {
	position: absolute;
	left: 1088px;
	top: 121px;
	width: 248px;
	height: 44px;
}
.Home_Home .Navbar .Menu .UserProfile2 {
	position: absolute;
	left: 144px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.Home_Home .Navbar .Menu .UserProfile2 .Group_1 {
	position: absolute;
	left: 3.7587890625px;
	top: 2.6669921875px;
	width: 76.507568359375%;
	height: 79.1656494140625%;
}
.Home_Home .Navbar .Menu .UserProfile2 .Group_1 .Vector_13 {
	position: absolute;
	left: 5.57470703125px;
	top: 0px;
	width: 54.461507778220984%;
	height: 52.63097027870938%;
}
.Home_Home .Navbar .Menu .UserProfile2 .Group_1 .Vector_14 {
	position: absolute;
	left: 0px;
	top: 14.646484375px;
	width: 100%;
	height: 42.18418719401719%;
}
.Home_Home .Navbar .Menu .NotificationBell {
	position: absolute;
	left: 216px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.Home_Home .Navbar .Menu .NotificationBell .Vector_15 {
	position: absolute;
	left: 4px;
	top: 2.6669921875px;
	width: 75%;
	height: 83.3282470703125%;
}
.Home_Home .Navbar .Menu .Heart {
	position: absolute;
	left: 0px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.Home_Home .Navbar .Menu .Heart .Vector_16 {
	position: absolute;
	left: 2.34326171875px;
	top: 3.7900390625px;
	width: 85.34088134765625%;
	height: 78.033447265625%;
}
.Home_Home .Navbar .Menu .ShoppingCart {
	position: absolute;
	left: 72px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.Home_Home .Navbar .Menu .ShoppingCart .Vector_17 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 76.3580322265625%;
	height: 79.168701171875%;
}
.Home_Home .Navbar .Menu .Badge {
	position: absolute;
	left: 94px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.Home_Home .Navbar .Menu .Badge .Container_21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.Home_Home .Navbar .Menu .Badge ._3 {
	position: absolute;
	left: 7px;
	top: 3px;
	width: 10px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .Categories_1 {
	position: absolute;
	left: 94px;
	top: 140px;
	width: 265px;
	height: 19px;
}
.Home_Home .Navbar .Categories_1 .Shop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .Categories_1 .Promo {
	position: absolute;
	left: 71px;
	top: 0px;
	width: 50px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .Categories_1 .About {
	position: absolute;
	left: 153px;
	top: 0px;
	width: 47px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.Home_Home .Navbar .Categories_1 .Blog {
	position: absolute;
	left: 232px;
	top: 0px;
	width: 33px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}