
.ProductDetail_ProductDetail {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(244,247,248,1.00);
}
.ProductDetail_ProductDetail .Footer {
	position: absolute;
	left: 0px;
	top: 3560px;
	width: 1440px;
	height: 476px;
}
.ProductDetail_ProductDetail .Footer .Background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 476px;
	background: rgba(255,255,255,1.00);
}
.ProductDetail_ProductDetail .Footer .Rectangle85 {
	position: absolute;
	left: 104px;
	top: 58px;
	width: 360px;
	height: 360px;
	background: rgba(226,226,234,1.00);
}
.ProductDetail_ProductDetail .Footer ._2020TanahAirStudioAllrightsreserved {
	position: absolute;
	left: 523px;
	top: 399px;
	width: 392px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .PrivacyPolicy {
	position: absolute;
	left: 520px;
	top: 178px;
	width: 132px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .TermsandCondition {
	position: absolute;
	left: 520px;
	top: 221px;
	width: 167px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia {
	position: absolute;
	left: 1126px;
	top: 88px;
	width: 208px;
	height: 40px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed .Container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed .Yt {
	position: absolute;
	left: 11px;
	top: 10px;
	width: 18px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_1 {
	position: absolute;
	left: 56px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_1 .Container_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_1 .Fb {
	position: absolute;
	left: 10px;
	top: 11px;
	width: 20px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_2 {
	position: absolute;
	left: 112px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_2 .Container_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_2 .Tw {
	position: absolute;
	left: 9px;
	top: 11px;
	width: 25px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_3 {
	position: absolute;
	left: 168px;
	top: 0px;
	width: 40px;
	height: 40px;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_3 .Container_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Footer .SocialMedia .Socmed_3 .Ig {
	position: absolute;
	left: 13px;
	top: 11px;
	width: 17px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Merriweather;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Footer .Dealerz {
	position: absolute;
	left: 520px;
	top: 69px;
	width: 249px;
	height: 77px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 64px;
	font-weight: 700;
	line-height: 76.80000305175781px;
}
.ProductDetail_ProductDetail .FlashSale {
	position: absolute;
	left: -312px;
	top: 2440px;
	width: 2064px;
	height: 960px;
}
.ProductDetail_ProductDetail .FlashSale .Container_4 {
	position: absolute;
	left: 311px;
	top: 0px;
	width: 1442px;
	height: 960px;
	background: rgba(255,255,255,1.00);
}
.ProductDetail_ProductDetail .FlashSale .Slider {
	position: absolute;
	left: 944px;
	top: 900px;
	width: 176px;
	height: 16px;
}
.ProductDetail_ProductDetail .FlashSale .Slider .Ellipse {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .FlashSale .Slider .Ellipse_1 {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .FlashSale .Slider .Ellipse_2 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(122,96,5,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .FlashSale .Slider .Ellipse_3 {
	position: absolute;
	left: 120px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .FlashSale .Slider .Ellipse_4 {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: rgba(224,224,224,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .FlashSale .Item {
	position: absolute;
	left: 416px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.ProductDetail_ProductDetail .FlashSale .Item .Image {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item .MiscTag {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.ProductDetail_ProductDetail .FlashSale .Item .MiscTag .Background_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item .MiscTag .Label {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item .Price {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item .Price_1 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item .Line {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.ProductDetail_ProductDetail .FlashSale .Item .Product {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .FlashSale .Item .Seller {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 {
	position: absolute;
	left: 0px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Image_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .MiscTag_1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .MiscTag_1 .Background_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .MiscTag_1 .Label_1 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Price_2 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Price_3 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Line_1 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Product_1 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .FlashSale .Item_1 .Seller_1 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 {
	position: absolute;
	left: 832px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Image_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .MiscTag_2 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .MiscTag_2 .Background_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .MiscTag_2 .Label_2 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Price_4 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Price_5 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Line_2 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Product_2 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .FlashSale .Item_2 .Seller_2 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 {
	position: absolute;
	left: 1248px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Image_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .MiscTag_3 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .MiscTag_3 .Background_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .MiscTag_3 .Label_3 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Price_6 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Price_7 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Line_3 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Product_3 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .FlashSale .Item_3 .Seller_3 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 {
	position: absolute;
	left: 1664px;
	top: 308px;
	width: 19.379844961240313%;
	height: 46.979166666666664%;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Image_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .MiscTag_4 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 11.5%;
	height: 4.878048780487805%;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .MiscTag_4 .Background_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .MiscTag_4 .Label_4 {
	position: absolute;
	margin-left: 6px;
	margin-right: 6px;
	top: 2px;
	width: 34px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Price_8 {
	position: absolute;
	left: 156px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Price_9 {
	position: absolute;
	left: 204px;
	top: 91.35254988913526%;
	transform: translate(0, -50%);
	width: 10%;
	height: 20px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Line_4 {
	position: absolute;
	left: 148px;
	top: 413px;
	width: 47px;
	height: 0px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Product_4 {
	position: absolute;
	left: 70px;
	top: 78.15964523281596%;
	transform: translate(0, -50%);
	width: 64.75%;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .FlashSale .Item_4 .Seller_4 {
	position: absolute;
	left: 97px;
	top: 85.2549889135255%;
	transform: translate(0, -50%);
	width: 51.24999999999999%;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .FlashSale .TopItems {
	position: absolute;
	left: 756px;
	top: 108px;
	width: 551px;
	height: 58px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.ProductDetail_ProductDetail .FlashSale .LoremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliquaUtenimadminimveniam {
	position: absolute;
	left: 666px;
	top: 198px;
	width: 732px;
	height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero {
	position: absolute;
	left: 0px;
	top: 205px;
	width: 1440px;
	height: 2075px;
}
.ProductDetail_ProductDetail .Hero .Container_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 512px;
	background: rgba(255,255,255,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail {
	position: absolute;
	left: 90px;
	top: 67px;
	width: 1232px;
	height: 2008px;
}
.ProductDetail_ProductDetail .Hero .Detail .ImagePlaceholder {
	position: absolute;
	left: 0px;
	top: 77px;
	width: 608px;
	height: 739px;
}
.ProductDetail_ProductDetail .Hero .Detail .ImagePlaceholder .Container_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 608px;
	height: 552px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .ImagePlaceholder .Container_7 {
	position: absolute;
	left: 0px;
	top: 568px;
	width: 192px;
	height: 171px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .ImagePlaceholder .Container_8 {
	position: absolute;
	left: 208px;
	top: 568px;
	width: 192px;
	height: 171px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .ImagePlaceholder .Container_9 {
	position: absolute;
	left: 416px;
	top: 568px;
	width: 192px;
	height: 171px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .Description {
	position: absolute;
	left: 0px;
	top: 888px;
	width: 1232px;
	height: 1116px;
}
.ProductDetail_ProductDetail .Hero .Detail .Description .Description_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 222px;
	height: 47px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 39px;
	font-weight: 700;
	line-height: 46.80000305175781px;
}
.ProductDetail_ProductDetail .Hero .Detail .Description .LoremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliquaUtenimadminimveniamquisnostrudexercitationullamcolaborisnisiutaliquipexeacommodoconsequatDuisauteiruredolorinreprehenderitinvoluptatevelitessecillumdoloreeufugiatnullapariaturExcepteursintoccaecatcupidatatnonproidentsuntinculpaquiofficiadeseruntmollitanimidestlaborumSedutperspiciatisundeomnisistenatuserrorsitvoluptatemaccusantiumdoloremquelaudantiumtotamremaperiameaqueipsaquaeabilloinventoreveritatisetquasiarchitectobeataevitaedictasuntexplicaboNemoenimipsamvoluptatemquiavoluptassitaspernaturautoditautfugitsedquiaconsequunturmagnidoloreseosquirationevoluptatemsequinesciuntNequeporroquisquamestquidoloremipsumquiadolorsitametconsecteturadipiscivelitsedquianonnumquameiusmoditemporainciduntutlaboreetdoloremagnamaliquamquaeratvoluptatemUtenimadminimaveniamquisnostrumexercitationemullamcorporissuscipitlaboriosamnisiutaliquidexeacommodiconsequaturQuisautemveleumiurereprehenderitquiineavoluptatevelitessequamnihilmolestiaeconsequaturvelillumquidoloremeumfugiatquo {
	position: absolute;
	left: 1px;
	top: 90px;
	width: 607px;
	height: 360px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Description .Container_10 {
	position: absolute;
	left: 664px;
	top: 90px;
	width: 568px;
	height: 1026px;
	background: rgba(226,226,234,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews {
	position: absolute;
	left: 1px;
	top: 1410px;
	width: 464px;
	height: 598px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 {
	position: absolute;
	left: 0px;
	top: 98px;
	width: 464px;
	height: 222px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 464px;
	height: 222px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .ThankyouforthearticlethatwasmadeitreallyprovidesinsightandknowledgethatIdidntknowbefore {
	position: absolute;
	left: 88px;
	top: 186px;
	width: 376px;
	height: 36px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Rectangle82 {
	position: absolute;
	left: 88px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Rectangle83 {
	position: absolute;
	left: 184px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Rectangle84 {
	position: absolute;
	left: 280px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Rectangle85_1 {
	position: absolute;
	left: 376px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 ._2March2021at0630pm {
	position: absolute;
	left: 88px;
	top: 46px;
	width: 196px;
	height: 20px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 {
	position: absolute;
	left: 237px;
	top: 4px;
	width: 142px;
	height: 24px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 .Star6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 .Star7 {
	position: absolute;
	left: 30px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 .Star8 {
	position: absolute;
	left: 59px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 .Star9 {
	position: absolute;
	left: 88px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Group172 .Star10 {
	position: absolute;
	left: 118px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .AlexIwobi {
	position: absolute;
	left: 88px;
	top: 1px;
	width: 142px;
	height: 29px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group169 .Comment01 .Ellipse152 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 64px;
	background: rgba(226,226,234,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 {
	position: absolute;
	left: 0px;
	top: 376px;
	width: 464px;
	height: 222px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 464px;
	height: 222px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .ThankyouforthearticlethatwasmadeitreallyprovidesinsightandknowledgethatIdidntknowbefore_1 {
	position: absolute;
	left: 88px;
	top: 186px;
	width: 376px;
	height: 36px;
	color: rgba(81,81,81,1.00);
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.19999885559082px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Rectangle82_1 {
	position: absolute;
	left: 88px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Rectangle83_1 {
	position: absolute;
	left: 184px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Rectangle84_1 {
	position: absolute;
	left: 280px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Rectangle85_2 {
	position: absolute;
	left: 376px;
	top: 82px;
	width: 88px;
	height: 88px;
	background: rgba(226,226,234,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 ._2March2021at0630pm_1 {
	position: absolute;
	left: 88px;
	top: 46px;
	width: 196px;
	height: 20px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 {
	position: absolute;
	left: 237px;
	top: 4px;
	width: 142px;
	height: 24px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 .Star6_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 .Star7_1 {
	position: absolute;
	left: 30px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 .Star8_1 {
	position: absolute;
	left: 59px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 .Star9_1 {
	position: absolute;
	left: 88px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Group172_1 .Star10_1 {
	position: absolute;
	left: 118px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .AlexIwobi_1 {
	position: absolute;
	left: 88px;
	top: 1px;
	width: 142px;
	height: 29px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Group170 .Comment01_1 .Ellipse152_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 64px;
	background: rgba(226,226,234,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Hero .Detail .Reviews .Reviews2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 217px;
	height: 47px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 39px;
	font-weight: 700;
	line-height: 46.80000305175781px;
}
.ProductDetail_ProductDetail .Hero .Detail .DevelopawebsitebyfindingaproductidentitythathasvalueandbrandingtobecomeacharacteristicofacompanyWewillalsofacilitatethebusinessmarketingoftheseproductswithourSEOexpertssothattheybecomeareadytousewebsiteandhelpsellaproductfromthecompanyDevelopawebsitebyfindingaproductidentitythathasvalueandbrandingtobecomeacharacteristicofacompanyWewillalsofacilitatethebusinessmarketingoftheseproductswithourSEOexpertssothattheybecomeareadytousewebsiteandhelpsellaproductfromthecompany {
	position: absolute;
	left: 728px;
	top: 388px;
	width: 504px;
	height: 220px;
	color: rgba(102,102,102,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .DetailsProduct {
	position: absolute;
	left: 728px;
	top: 343px;
	width: 181px;
	height: 29px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .Hero .Detail .UrbanoJacket {
	position: absolute;
	left: 728px;
	top: 77px;
	width: 437px;
	height: 74px;
	color: rgba(51,51,51,1.00);
	font-family: DM Sans;
	font-size: 62px;
	font-weight: 700;
	line-height: 74.4000015258789px;
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings {
	position: absolute;
	left: 728px;
	top: 183px;
	width: 192px;
	height: 32px;
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings .Star6_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 32px;
	height: 32px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings .Star7_2 {
	position: absolute;
	left: 40px;
	top: 0px;
	width: 32px;
	height: 32px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings .Star8_2 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 32px;
	height: 32px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings .Star9_2 {
	position: absolute;
	left: 120px;
	top: 0px;
	width: 32px;
	height: 32px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Ratings .Star10_2 {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 32px;
	height: 32px;
	background: rgba(243,105,46,1.00);
}
.ProductDetail_ProductDetail .Hero .Detail .Subtotal {
	position: absolute;
	left: 728px;
	top: 697px;
	width: 504px;
	height: 19px;
}
.ProductDetail_ProductDetail .Hero .Detail .Subtotal .SubTotal {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .Subtotal ._10 {
	position: absolute;
	left: 477px;
	top: 0px;
	width: 27px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button {
	position: absolute;
	left: 728px;
	top: 760px;
	width: 143px;
	height: 56px;
	display: flex;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 2px solid rgba(248.0000004172325,99.00000169873238,56.000000461936,1);
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 95px;
	height: 24px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 .ClickHere {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 63px;
	height: 19px;
	display: flex;
	align-items: center;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 .Group18 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 25.263157894736842%;
	height: 100%;
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 .Group18 .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 .Group18 .Heart {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ProductDetail_ProductDetail .Hero .Detail .Button .Frame948 .Group18 .Heart .Vector {
	position: absolute;
	left: 1.7578125px;
	top: 2.8427734375px;
	width: 85.34342447916666%;
	height: 78.03548177083334%;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 {
	position: absolute;
	left: 895px;
	top: 760px;
	width: 171px;
	height: 56px;
	display: flex;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(248,99,56,1.00);
	border-radius: 8px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 24px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 .ClickHere_1 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 91px;
	height: 19px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 .Group18_1 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 19.51219512195122%;
	height: 100%;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 .Group18_1 .Rectangle1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 .Group18_1 .ShoppingCart {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ProductDetail_ProductDetail .Hero .Detail .Button_1 .Frame948_1 .Group18_1 .ShoppingCart .Vector_1 {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 76.35904947916666%;
	height: 79.16666666666666%;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity {
	position: absolute;
	left: 728px;
	top: 640px;
	width: 504px;
	height: 33px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 {
	position: absolute;
	left: 190px;
	top: 0px;
	width: 110px;
	height: 33px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 .Container_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 110px;
	height: 33px;
	background: rgba(255,255,255,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 .Quantity_2 {
	position: absolute;
	left: 11px;
	top: 7px;
	width: 89px;
	height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 .Quantity_2 ._2 {
	position: absolute;
	left: 38px;
	top: 0px;
	width: 10px;
	height: 20px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 .Quantity_2 ._ {
	position: absolute;
	left: 79px;
	top: 0px;
	width: 10px;
	height: 20px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_1 .Quantity_2 .__1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9px;
	height: 20px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Quantity_3 {
	position: absolute;
	left: 0px;
	top: 7px;
	width: 70px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .Quantity .Addnote {
	position: absolute;
	left: 432px;
	top: 7px;
	width: 72px;
	height: 19px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Hero .Detail .GroceryFruitsJapanOranges {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 387px;
	height: 29px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.ProductDetail_ProductDetail .Hero .Detail .Price_10 {
	position: absolute;
	left: 728px;
	top: 239px;
	width: 135px;
	height: 62px;
}
.ProductDetail_ProductDetail .Hero .Detail .Price_10 .Price_11 {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	height: 62px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 62px;
	font-weight: 700;
	line-height: 74.4000015258789px;
}
.ProductDetail_ProductDetail .Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 205px;
}
.ProductDetail_ProductDetail .Navbar .Container_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 93px;
	background: rgba(255,255,255,1.00);
}
.ProductDetail_ProductDetail .Navbar .CallCentre {
	position: absolute;
	left: 1008px;
	top: 37px;
	width: 118px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .CallCentre .Phone {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .CallCentre .Phone .Vector_2 {
	position: absolute;
	left: 1.7607421875px;
	top: 1.7080078125px;
	width: 85.24576822916666%;
	height: 85.55908203125%;
}
.ProductDetail_ProductDetail .Navbar .CallCentre .CallCenter {
	position: absolute;
	left: 32px;
	top: 2px;
	width: 86px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .CallCentre_1 {
	position: absolute;
	left: 1158px;
	top: 37px;
	width: 178px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .CallCentre_1 .TruckDelivery {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .CallCentre_1 .TruckDelivery .Vector_3 {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 83.33333333333334%;
	height: 70.83740234375%;
}
.ProductDetail_ProductDetail .Navbar .CallCentre_1 .ShippingReturns {
	position: absolute;
	left: 32px;
	top: 2px;
	width: 146px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .Container_13 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 93px;
	width: 1440px;
	height: 112px;
	background: rgba(255,255,255,1.00);
}
.ProductDetail_ProductDetail .Navbar .Dealerz_1 {
	position: absolute;
	left: 94px;
	top: 25px;
	width: 152px;
	height: 47px;
	color: rgba(248,99,56,1.00);
	font-family: DM Sans;
	font-size: 39px;
	font-weight: 700;
	line-height: 46.80000305175781px;
}
.ProductDetail_ProductDetail .Navbar .Searchbar {
	position: absolute;
	left: 451px;
	top: 121px;
	width: 573px;
	height: 56px;
}
.ProductDetail_ProductDetail .Navbar .Searchbar .Container_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 573px;
	height: 56px;
	background: rgba(255,255,255,1.00);
	border-radius: 4px;
}
.ProductDetail_ProductDetail .Navbar .Searchbar .Search {
	position: absolute;
	left: 529px;
	top: 16px;
	width: 24px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .Searchbar .Search .Vector_4 {
	position: absolute;
	left: 1.9541015625px;
	top: 1.9541015625px;
	width: 82.30387369791666%;
	height: 82.30387369791666%;
}
.ProductDetail_ProductDetail .Navbar .Searchbar .Searchwhatyouneed {
	position: absolute;
	left: 30px;
	top: 19px;
	width: 166px;
	height: 20px;
	color: rgba(154,154,176,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.ProductDetail_ProductDetail .Navbar .Menu {
	position: absolute;
	left: 1088px;
	top: 121px;
	width: 248px;
	height: 44px;
}
.ProductDetail_ProductDetail .Navbar .Menu .UserProfile2 {
	position: absolute;
	left: 144px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.ProductDetail_ProductDetail .Navbar .Menu .UserProfile2 .Group {
	position: absolute;
	left: 3.7587890625px;
	top: 2.6669921875px;
	width: 76.507568359375%;
	height: 79.1656494140625%;
}
.ProductDetail_ProductDetail .Navbar .Menu .UserProfile2 .Group .Vector_5 {
	position: absolute;
	left: 5.57421875px;
	top: 0px;
	width: 54.459513362584765%;
	height: 52.63097027870938%;
}
.ProductDetail_ProductDetail .Navbar .Menu .UserProfile2 .Group .Vector_6 {
	position: absolute;
	left: 0px;
	top: 14.646484375px;
	width: 100%;
	height: 42.18418719401719%;
}
.ProductDetail_ProductDetail .Navbar .Menu .NotificationBell {
	position: absolute;
	left: 216px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.ProductDetail_ProductDetail .Navbar .Menu .NotificationBell .Vector_7 {
	position: absolute;
	left: 4px;
	top: 2.6669921875px;
	width: 75%;
	height: 83.3282470703125%;
}
.ProductDetail_ProductDetail .Navbar .Menu .Heart_1 {
	position: absolute;
	left: 0px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.ProductDetail_ProductDetail .Navbar .Menu .Heart_1 .Vector_8 {
	position: absolute;
	left: 2.3427734375px;
	top: 3.7900390625px;
	width: 85.3424072265625%;
	height: 78.033447265625%;
}
.ProductDetail_ProductDetail .Navbar .Menu .ShoppingCart_1 {
	position: absolute;
	left: 72px;
	top: 12px;
	width: 32px;
	height: 32px;
}
.ProductDetail_ProductDetail .Navbar .Menu .ShoppingCart_1 .Vector_9 {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 76.3580322265625%;
	height: 79.168701171875%;
}
.ProductDetail_ProductDetail .Navbar .Menu .Badge {
	position: absolute;
	left: 94px;
	top: 0px;
	width: 24px;
	height: 24px;
}
.ProductDetail_ProductDetail .Navbar .Menu .Badge .Container_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: rgba(248,99,56,1.00);
	border-radius: 50%;
}
.ProductDetail_ProductDetail .Navbar .Menu .Badge ._3 {
	position: absolute;
	left: 7px;
	top: 3px;
	width: 10px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .Categories {
	position: absolute;
	left: 94px;
	top: 140px;
	width: 265px;
	height: 19px;
}
.ProductDetail_ProductDetail .Navbar .Categories .Shop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .Categories .Promo {
	position: absolute;
	left: 71px;
	top: 0px;
	width: 50px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .Categories .About {
	position: absolute;
	left: 153px;
	top: 0px;
	width: 47px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}
.ProductDetail_ProductDetail .Navbar .Categories .Blog {
	position: absolute;
	left: 232px;
	top: 0px;
	width: 33px;
	height: 19px;
	color: rgba(17,20,45,1.00);
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.200000762939453px;
}