
.SystemColor_SystemColor {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(244,247,248,1.00);
}
.SystemColor_SystemColor .SystemColorsLight {
	position: absolute;
	left: 77.76px;
	top: 43.2px;
	width: 333.72px;
	height: 44.82px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 34.56px;
	font-weight: 700;
	line-height: 40.5px;
}
.SystemColor_SystemColor .BaseColor {
	position: absolute;
	left: 78.30000000000001px;
	top: 159.84px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .SystemBackground {
	position: absolute;
	left: 78.30000000000001px;
	top: 1342.44px;
	width: 176.58px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .SeparatorsColor {
	position: absolute;
	left: 405.54px;
	top: 1342.44px;
	width: 149.58px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .FillsColor {
	position: absolute;
	left: 78.84px;
	top: 1578.96px;
	width: 86.4px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .TextColor {
	position: absolute;
	left: 405.54px;
	top: 159.84px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .TextLinkColor {
	position: absolute;
	left: 887.7600000000001px;
	top: 164.16000000000003px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .PrimaryColor {
	position: absolute;
	left: 78.84px;
	top: 396.36px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .ColorPallet {
	position: absolute;
	left: 78.30000000000001px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(0,0,0,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_1 {
	position: absolute;
	left: 78.30000000000001px;
	top: 1411.02px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_2 {
	position: absolute;
	left: 405.54px;
	top: 1411.02px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(225,225,251,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_3 {
	position: absolute;
	left: 551.88px;
	top: 1411.02px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(225,225,225,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_4 {
	position: absolute;
	left: 414.18px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(17,20,45,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_5 {
	position: absolute;
	left: 78.84px;
	top: 464.94000000000005px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(0,22,70,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Black {
	position: absolute;
	left: 78.30000000000001px;
	top: 207.9px;
	width: 25.380000000000003px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Primary {
	position: absolute;
	left: 78.30000000000001px;
	top: 1390.5px;
	width: 35.1px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ButtonFill {
	position: absolute;
	left: 78.30000000000001px;
	top: 1627.0200000000002px;
	width: 49.14px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Title {
	position: absolute;
	left: 414.18px;
	top: 207.9px;
	width: 20.520000000000003px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._85 {
	position: absolute;
	left: 78.84px;
	top: 444.42px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_6 {
	position: absolute;
	left: 517.86px;
	top: 464.94000000000005px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(129,209,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_7 {
	position: absolute;
	left: 664.2px;
	top: 464.94000000000005px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(244,247,248,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_8 {
	position: absolute;
	left: 887.7600000000001px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(243,105,46,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_9 {
	position: absolute;
	left: 1034.1000000000001px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._30 {
	position: absolute;
	left: 517.86px;
	top: 444.42px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._10 {
	position: absolute;
	left: 664.2px;
	top: 444.42px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Purple {
	position: absolute;
	left: 887.7600000000001px;
	top: 207.9px;
	width: 30.240000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .White {
	position: absolute;
	left: 1034.1000000000001px;
	top: 207.9px;
	width: 25.92px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .White_1 {
	position: absolute;
	left: 224.64000000000001px;
	top: 207.9px;
	width: 25.92px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Secondary {
	position: absolute;
	left: 224.64000000000001px;
	top: 1390.5px;
	width: 48.06px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Primary_1 {
	position: absolute;
	left: 405.54px;
	top: 1390.5px;
	width: 35.1px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Secondary_1 {
	position: absolute;
	left: 551.88px;
	top: 1390.5px;
	width: 48.06px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ImagePlaceholder {
	position: absolute;
	left: 224.64000000000001px;
	top: 1627.0200000000002px;
	width: 83.16000000000001px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ProgressContainer {
	position: absolute;
	left: 370.98px;
	top: 1627.0200000000002px;
	width: 88.02000000000001px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .TextField {
	position: absolute;
	left: 517.32px;
	top: 1627.0200000000002px;
	width: 42.660000000000004px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Icon {
	position: absolute;
	left: 810px;
	top: 1627.0200000000002px;
	width: 19.44px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Disabled {
	position: absolute;
	left: 956.34px;
	top: 1627.0200000000002px;
	width: 38.34px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .Body1 {
	position: absolute;
	left: 560.52px;
	top: 207.9px;
	width: 28.62px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._70 {
	position: absolute;
	left: 225.18px;
	top: 444.42px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_10 {
	position: absolute;
	left: 224.64000000000001px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_11 {
	position: absolute;
	left: 224.64000000000001px;
	top: 1411.02px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(32,32,32,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_12 {
	position: absolute;
	left: 78.30000000000001px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_13 {
	position: absolute;
	left: 224.64000000000001px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(226,226,234,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_14 {
	position: absolute;
	left: 370.98px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(226,226,234,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_15 {
	position: absolute;
	left: 517.32px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,255,255,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .TextField2 {
	position: absolute;
	left: 663.6600000000001px;
	top: 1627.0200000000002px;
	width: 49.14px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_16 {
	position: absolute;
	left: 663.6600000000001px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(246,246,247,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_17 {
	position: absolute;
	left: 810px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(154,154,176,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_18 {
	position: absolute;
	left: 956.34px;
	top: 1647.5400000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(224,224,224,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_19 {
	position: absolute;
	left: 560.52px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(81,81,81,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_20 {
	position: absolute;
	left: 225.18px;
	top: 464.94000000000005px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(8,135,207,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Body2 {
	position: absolute;
	left: 706.86px;
	top: 207.9px;
	width: 28.62px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._50 {
	position: absolute;
	left: 371.52000000000004px;
	top: 444.42px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_21 {
	position: absolute;
	left: 706.86px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(154,154,176,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Body2_1 {
	position: absolute;
	left: 706.86px;
	top: 207.9px;
	width: 28.62px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_22 {
	position: absolute;
	left: 706.86px;
	top: 228.42000000000002px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(154,154,176,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_23 {
	position: absolute;
	left: 371.52000000000004px;
	top: 464.94000000000005px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(54,178,248,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .SecondaryColor {
	position: absolute;
	left: 78.84px;
	top: 632.88px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .ColorPallet_24 {
	position: absolute;
	left: 78.84px;
	top: 701.46px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(95,30,3,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._85_1 {
	position: absolute;
	left: 78.84px;
	top: 680.94px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_25 {
	position: absolute;
	left: 517.86px;
	top: 701.46px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,143,91,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_26 {
	position: absolute;
	left: 664.2px;
	top: 701.46px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(255,221,211,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._30_1 {
	position: absolute;
	left: 517.86px;
	top: 680.94px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._10_1 {
	position: absolute;
	left: 664.2px;
	top: 680.94px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._70_1 {
	position: absolute;
	left: 225.18px;
	top: 680.94px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_27 {
	position: absolute;
	left: 225.18px;
	top: 701.46px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(180,58,5,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._50_1 {
	position: absolute;
	left: 371.52000000000004px;
	top: 680.94px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_28 {
	position: absolute;
	left: 371.52000000000004px;
	top: 701.46px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(248,99,56,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Accent1Color {
	position: absolute;
	left: 78.84px;
	top: 869.4000000000001px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .ColorPallet_29 {
	position: absolute;
	left: 78.84px;
	top: 937.98px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(1,129,52,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._85_2 {
	position: absolute;
	left: 78.84px;
	top: 917.46px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_30 {
	position: absolute;
	left: 517.86px;
	top: 937.98px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(93,239,151,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .ColorPallet_31 {
	position: absolute;
	left: 664.2px;
	top: 937.98px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(202,241,218,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._30_2 {
	position: absolute;
	left: 517.86px;
	top: 917.46px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._10_2 {
	position: absolute;
	left: 664.2px;
	top: 917.46px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor ._70_2 {
	position: absolute;
	left: 225.18px;
	top: 917.46px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_32 {
	position: absolute;
	left: 225.18px;
	top: 937.98px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(0,168,67,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor ._50_2 {
	position: absolute;
	left: 371.52000000000004px;
	top: 917.46px;
	width: 16.740000000000002px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_33 {
	position: absolute;
	left: 371.52000000000004px;
	top: 937.98px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(11,210,90,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .OtherColor {
	position: absolute;
	left: 78.84px;
	top: 1105.92px;
	width: 160.38000000000002px;
	height: 22.14px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 18.36px;
	font-weight: 700;
	line-height: 22.14px;
}
.SystemColor_SystemColor .ColorPallet_34 {
	position: absolute;
	left: 78.84px;
	top: 1174.5px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(238,175,34,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Warning {
	position: absolute;
	left: 78.84px;
	top: 1153.98px;
	width: 38.34px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_35 {
	position: absolute;
	left: 517.86px;
	top: 1174.5px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(241,241,246,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Info {
	position: absolute;
	left: 517.86px;
	top: 1153.98px;
	width: 18.36px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ERROR {
	position: absolute;
	left: 225.18px;
	top: 1153.98px;
	width: 26.46px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_36 {
	position: absolute;
	left: 225.18px;
	top: 1174.5px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(240,68,97,1.00);
	border-radius: 10.8px;
}
.SystemColor_SystemColor .Success {
	position: absolute;
	left: 371.52000000000004px;
	top: 1153.98px;
	width: 35.1px;
	height: 7.5600000000000005px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 7.5600000000000005px;
	font-weight: 700;
	line-height: 7.5600000000000005px;
}
.SystemColor_SystemColor .ColorPallet_37 {
	position: absolute;
	left: 371.52000000000004px;
	top: 1174.5px;
	width: 124.74000000000001px;
	height: 124.74000000000001px;
	background: rgba(65,218,126,1.00);
	border-radius: 10.8px;
}