
.Typography_Typography {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(244,247,248,1.00);
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles {
	position: absolute;
	left: 309.40000000000003px;
	top: 293.8px;
	width: 370.5px;
	height: 192.4px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 40.300000000000004px;
	font-weight: 700;
	line-height: 48.36000099182129px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_1 {
	position: absolute;
	left: 773.5px;
	top: 293.8px;
	width: 370.5px;
	height: 192.4px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 40.300000000000004px;
	font-weight: 400;
	line-height: 48.36000099182129px;
}
.Typography_Typography .H1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 263.90000000000003px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_2 {
	position: absolute;
	left: 309.40000000000003px;
	top: 552.5px;
	width: 370.5px;
	height: 113.10000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 31.200000000000003px;
	font-weight: 700;
	line-height: 37.440001487731934px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_3 {
	position: absolute;
	left: 773.5px;
	top: 552.5px;
	width: 370.5px;
	height: 113.10000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 31.200000000000003px;
	font-weight: 400;
	line-height: 37.440001487731934px;
}
.Typography_Typography .H2 {
	position: absolute;
	left: 309.40000000000003px;
	top: 522.6px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_4 {
	position: absolute;
	left: 309.40000000000003px;
	top: 731.9px;
	width: 370.5px;
	height: 61.1px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 25.35px;
	font-weight: 700;
	line-height: 30.420001983642578px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_5 {
	position: absolute;
	left: 773.5px;
	top: 731.9px;
	width: 370.5px;
	height: 61.1px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 25.35px;
	font-weight: 400;
	line-height: 30.420001983642578px;
}
.Typography_Typography .H3 {
	position: absolute;
	left: 309.40000000000003px;
	top: 702px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_6 {
	position: absolute;
	left: 309.40000000000003px;
	top: 859.3000000000001px;
	width: 339.3px;
	height: 48.1px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 20.150000000000002px;
	font-weight: 700;
	line-height: 24.180000495910644px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_7 {
	position: absolute;
	left: 773.5px;
	top: 859.3000000000001px;
	width: 338.65000000000003px;
	height: 48.1px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 20.150000000000002px;
	font-weight: 400;
	line-height: 24.180000495910644px;
}
.Typography_Typography .H4 {
	position: absolute;
	left: 309.40000000000003px;
	top: 829.4px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_8 {
	position: absolute;
	left: 309.40000000000003px;
	top: 973.7px;
	width: 339.3px;
	height: 37.7px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 15.600000000000001px;
	font-weight: 700;
	line-height: 18.720000743865967px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_9 {
	position: absolute;
	left: 773.5px;
	top: 973.7px;
	width: 338.65000000000003px;
	height: 37.7px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 15.600000000000001px;
	font-weight: 400;
	line-height: 18.720000743865967px;
}
.Typography_Typography .H5 {
	position: absolute;
	left: 309.40000000000003px;
	top: 943.8000000000001px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_10 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1077.7px;
	width: 339.3px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 700;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_11 {
	position: absolute;
	left: 773.5px;
	top: 1077.7px;
	width: 338.65000000000003px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 400;
	line-height: 12.480000495910645px;
}
.Typography_Typography .H6 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1047.8px;
	width: 13px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .DMSans {
	position: absolute;
	left: 93.60000000000001px;
	top: 211.25px;
	width: 92.3px;
	height: 26.650000000000002px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Heading {
	position: absolute;
	left: 309.40000000000003px;
	top: 211.25px;
	width: 90.35000000000001px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_12 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1224.6000000000001px;
	width: 370.5px;
	height: 250.25px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 41.6px;
	font-weight: 700;
	line-height: 49.92000198364258px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_13 {
	position: absolute;
	left: 773.5px;
	top: 1224.6000000000001px;
	width: 370.5px;
	height: 200.20000000000002px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 41.6px;
	font-weight: 500;
	line-height: 49.92000198364258px;
}
.Typography_Typography .Display1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1194.7px;
	width: 46.800000000000004px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Display {
	position: absolute;
	left: 309.40000000000003px;
	top: 1142.05px;
	width: 79.95px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_14 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1559.3500000000001px;
	width: 370.5px;
	height: 37.7px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 15.600000000000001px;
	font-weight: 700;
	line-height: 18.720000743865967px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_15 {
	position: absolute;
	left: 773.5px;
	top: 1559.3500000000001px;
	width: 370.5px;
	height: 37.7px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 15.600000000000001px;
	font-weight: 400;
	line-height: 18.720000743865967px;
}
.Typography_Typography .Title1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1529.45px;
	width: 33.15px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Title {
	position: absolute;
	left: 309.40000000000003px;
	top: 1476.8px;
	width: 46.15px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_16 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2451.15px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 700;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_17 {
	position: absolute;
	left: 773.5px;
	top: 2451.15px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 400;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Menu1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2421.25px;
	width: 35.1px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_18 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2529.8px;
	width: 370.5px;
	height: 11.05px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 9.1px;
	font-weight: 400;
	line-height: 10.920000743865968px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_19 {
	position: absolute;
	left: 773.5px;
	top: 2529.8px;
	width: 370.5px;
	height: 11.05px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 9.1px;
	font-weight: 400;
	line-height: 10.920000743865968px;
}
.Typography_Typography .Menu2 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2499.9px;
	width: 35.1px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Menu {
	position: absolute;
	left: 309.40000000000003px;
	top: 2368.6px;
	width: 57.85px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_20 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1731.6000000000001px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 700;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_21 {
	position: absolute;
	left: 773.5px;
	top: 1731.6000000000001px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 400;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Headline1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1701.7px;
	width: 54.6px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_22 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1810.25px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 700;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_23 {
	position: absolute;
	left: 773.5px;
	top: 1810.25px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 400;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Headline1Uppercase {
	position: absolute;
	left: 309.40000000000003px;
	top: 1780.3500000000001px;
	width: 118.95px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Headlines {
	position: absolute;
	left: 309.40000000000003px;
	top: 1649.05px;
	width: 105.3px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_24 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1957.15px;
	width: 370.5px;
	height: 12.35px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 500;
	line-height: 12.480000495910645px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_25 {
	position: absolute;
	left: 773.5px;
	top: 1957.15px;
	width: 370.5px;
	height: 13px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 10.4px;
	font-weight: 400;
	line-height: 13px;
}
.Typography_Typography .Body1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 1927.25px;
	width: 34.45px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_26 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2035.8000000000002px;
	width: 370.5px;
	height: 11.700000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 9.1px;
	font-weight: 500;
	line-height: 11.829999256134034px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_27 {
	position: absolute;
	left: 773.5px;
	top: 2035.8000000000002px;
	width: 370.5px;
	height: 11.700000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 9.1px;
	font-weight: 400;
	line-height: 11.829999256134034px;
}
.Typography_Typography .Body2 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2005.9px;
	width: 34.45px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Body {
	position: absolute;
	left: 309.40000000000003px;
	top: 1874.6000000000001px;
	width: 54.6px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_28 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2166.4500000000003px;
	width: 370.5px;
	height: 8.450000000000001px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 7.800000000000001px;
	font-weight: 700;
	line-height: 8.580000495910644px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_29 {
	position: absolute;
	left: 773.5px;
	top: 2166.4500000000003px;
	width: 370.5px;
	height: 9.1px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 7.800000000000001px;
	font-weight: 400;
	line-height: 9.360000371932983px;
}
.Typography_Typography .Captions {
	position: absolute;
	left: 309.40000000000003px;
	top: 2136.55px;
	width: 47.45px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Captions_1 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2083.9px;
	width: 94.9px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_30 {
	position: absolute;
	left: 309.40000000000003px;
	top: 2309.4500000000003px;
	width: 370.5px;
	height: 6.5px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 5.8500000000000005px;
	font-weight: 700;
	line-height: 6.435000371932984px;
}
.Typography_Typography .Thispagedemonstratesthevarioustypographicstyles_31 {
	position: absolute;
	left: 773.5px;
	top: 2309.4500000000003px;
	width: 370.5px;
	height: 7.15px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 5.8500000000000005px;
	font-weight: 400;
	line-height: 7.0200001239776615px;
}
.Typography_Typography .Notif {
	position: absolute;
	left: 309.40000000000003px;
	top: 2279.55px;
	width: 27.3px;
	height: 9.1px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 9.1px;
	font-weight: 700;
	line-height: 9.1px;
}
.Typography_Typography .Notification {
	position: absolute;
	left: 309.40000000000003px;
	top: 2226.9px;
	width: 124.15px;
	height: 26.650000000000002px;
	color: rgba(0,133,255,1.00);
	font-family: Mulish;
	font-size: 22.1px;
	font-weight: 700;
	line-height: 26.650000000000002px;
}
.Typography_Typography .GoogleFontsisalibraryof1029freelicensedfontfamiliesaninteractivewebdirectoryforbrowsingthelibraryandAPIsforconvenientlyusingthefontsviaCSSandAndroid {
	position: absolute;
	left: 373.1px;
	top: 69.55px;
	width: 546.65px;
	height: 27.3px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 9.1px;
	font-weight: 400;
	line-height: 13.65px;
}
.Typography_Typography .Typography_1 {
	position: absolute;
	left: 93.60000000000001px;
	top: 52px;
	width: 239.20000000000002px;
	height: 53.95px;
	color: rgba(0,0,0,1.00);
	font-family: DM Sans;
	font-size: 41.6px;
	font-weight: 700;
	line-height: 48.75px;
}